.content{
    width: 60%;
    float: left;
    padding: 0 0 0 30px;
    background: rgb(94, 88, 88);
    color: honeydew;
    height: 100%;
}

.sidebar{
    width: 40%;
    float: right;
    padding: 10px;
    background: rgb(128, 0, 96);
    color: hotpink;
    height: 100%;
}

h1{
    text-align: center;
    border-bottom: 1px solid chartreuse;
    padding-bottom: 10px;
}

body{
    align-self: start;
    color: wheat;
    background:rgb(94, 88, 88);
}

#date,#ch{
    color: yellow;
    font-style: italic;
    font-size: 12px;
} 

a{
    color: yellow;
}

